:root {
	--fondo: #f2f2f2;
	--color-temario: #c9c9c9;
	--temario-active: #ffbd86;
	--temario-active-border: #ff7300;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
}